# Build artifacts
/build/
/CMakeFiles/
/cmake-build-debug
/cmake-build-release
CMakeCache.txt
cmake_install.cmake
Makefile
*.o

# VSCode
.vscode
.vscode/

# Python cache
__pycache__/
.pytest_cache/

# Misc
*~
*.json

# CLion/JetBrains
.idea/